@using App2.Core.Entities
@model IQueryable<Service>

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Services</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon">@Html.Raw(item.IconUrl)</div>
                        <h4 class="title"><a href="">@item.Title</a></h4>
                        <p class="description">@item.Description</p>
                    </div>
                </div>
            }
        </div>

    </div>
</section><!-- End Services Section -->